*{
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

#root {
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	margin: 0;
	overflow: auto;
	background-size: cover;
	z-index: 0;
	min-height: 100vh;
}

.search {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 10% auto;
}

.logo-wrap {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin: 0 0 20px 0;
}

#logo{
	border:1px #25dbe8 solid;
	box-shadow: 0 0 5px #25dbe8;
	border-radius: 7px; 
	padding: 5px;
	height: 160px;
	margin: 2% auto;
}

#logo:hover{
	box-shadow: 0 0 13px #25dbe8;
}

#search-filter{
	width: 60%;
	border:1px #25dbe8 solid;
	padding: 20px;
	text-align: center;
	box-shadow: 0 0 5px #25dbe8;
	background-color: #dcf3f1;
	opacity: 0.83;
}

#search-filter:hover{
	box-shadow: 0 0 13px #25dbe8;
	opacity: 0.97;
}

#search-filter input[type="text"]{
	text-align: center;
	height: 40px;
	width: 320px;
	margin-bottom: 20px;
	border-radius: 20px;
	border: 2px #558e92 solid; 
	color: #424242;
	background-color: #eee;
	font-size: 15px;
	transition: 0.25s;
}

#cancel{
	position: absolute;
	height: 40px;
	cursor: pointer;
	border-radius: 20px;
}
#cancel:hover{
	box-shadow: 0 0 1px #000;
}
#cancel:active{
	box-shadow: 0 1.5px 1px #000;
}


#search-filter input[type="text"]:focus{
	width: 460px;
	box-shadow: 0 0 5px #dc5ac5;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

hr{
	color: #b5cccc;
	width: 70%;
	opacity: 0.5;
	margin-bottom: 10px;
}

label{
	font-family: "Courier New";
	font-size: 16px; 
}

.all_selects{
	margin-top: 15px;
	margin-bottom: 10px;
}

select{
	background-color: #eeffff;
	height: 30px;
	background-image: linear-gradient(to bottom,#fff 0%,#e5e5e5 100%);
	margin-bottom: 10px;
	margin-right: 10px;
	border:0.5px #759991 solid;
}

.buttons{
	display: flex;
	justify-content: center;

}

input[type="submit"]{
	height: 40px;
	border-radius: 20px;
	border:2px #558e92 solid;
	width: 140px;
	cursor: pointer;
	background-color: #d1ebf7;
	margin: 0 10px;
	
}

input[type="submit"]:hover{
	box-shadow: 0 0 10px #49ff65;
	background-color: #ffffff;
	transition: 0.5s;
}

input[type="submit"]:active{
	box-shadow: 0 0 20px #0f6d09;
}

@media (max-width: 767px) {
	#root {
		max-width: 100vw;
		width: 100vw;
		overflow-x: hidden;
	}
	.search {
		display: flex;
		flex-flow: column;
		flex-direction: column;
		justify-content: center;
		width: 100vw;
	}

	#search-filter {
		width: 100vw;
	}

	.logo-wrap {
		width: 100vw;
		border: none;
	}

	#logo {
		border: none;
	}
}