*{
	box-sizing: border-box;
}

body{
	background-image: url('background.jpg');
	background-repeat: repeat-y;
	margin: 0;
	background-size: cover;
	overflow: auto;
	z-index: 0;

}

#logo{
	position: absolute;
	top: 28%;
	left: 50%;
	transform: translate(-50%, -50%);
	border:1px #25dbe8 solid;
	box-shadow: 0 0 5px #25dbe8;
	border-radius: 7px; 
	margin-bottom: 12px;
	padding: 5px;
	height: 53%;
}

#logo:hover{
	box-shadow: 0 0 13px #25dbe8;
}

#search-filter{
	position: absolute;
	top: 78%;
	left: 50%;
	transform: translate(-50%, -50%);
	border:1px #25dbe8 solid;
	padding: 20px;
	text-align: center;
	box-shadow: 0 0 5px #25dbe8;
	background-color: #dcf3f1;
	opacity: 0.83;
}

#search-filter:hover{
	box-shadow: 0 0 13px #25dbe8;
	opacity: 0.97;
}

#search-filter input[type="text"]{
	text-align: center;
	height: 40px;
	width: 320px;
	margin-bottom: 20px;
	border-radius: 20px;
	border: 2px #558e92 solid; 
	color: #424242;
	background-color: #eee;
	font-size: 15px;
	transition: 0.25s;
}

#search-filter input[type="text"]:focus{
	width: 460px;
	box-shadow: 0 0 5px #dc5ac5;
}

#search1{
	position: relative;
}

#cancel{
	position: absolute;
	height: 40px;
	cursor: pointer;
	border-radius: 20px;
}

#cancel:hover{
	box-shadow: 0 0 1px #000;
}

hr{
	color: #b5cccc;
	width: 600px;
	opacity: 0.5;
	margin-bottom: 10px;
}

label{
	font-family: "Courier New";
	font-size: 16px; 
}

.all_selects{
	margin-top: 15px;
	margin-bottom: 10px;
}

select{
	background-color: #eeffff;
	height: 30px;
	background-image: linear-gradient(to bottom,#fff 0%,#e5e5e5 100%);
	margin-bottom: 10px;
	margin-right: 10px;
	border:0.5px #759991 solid;
}

input[type="submit"]{
	height: 40px;
	border-radius: 20px;
	border:2px #558e92 solid;
	width: 140px;
	cursor: pointer;
	background-color: #d1ebf7;
	
}

input[type="submit"]:hover{
	box-shadow: 0 0 10px #49ff65;
	background-color: #ffffff;
	transition: 0.5s;
}

input[type="submit"]:active{
	box-shadow: 0 0 20px #0f6d09;
}
